body {
    margin: 0px;
    font-family: Tahoma;
    line-height: 1.5;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(150,152,151,0.8435749299719888) 100%);
}

.card {
    margin: 1em 2em;
    padding: 0.8em 0px;
    border-radius: 20px;
    box-shadow: 0 30px 60px #cdd;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(235,235,235,1) 0%, rgba(250,252,251,0.8435749299719888) 90%);
}

.card-photo {
    width: calc(100vw / 6);
    display: block;
    margin: 0.5em auto;
    border-radius: 50%;
}

.card-title {
    font-family: Arial;
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 0px;
}

p {
    margin: 0.2em 2em;
    font-size: 0.9em;
}

h2 {
    margin: 0.5em 1.2em;
    font-size: 1.4em;
}

.card-list {
    margin-left: 1em;
    margin-right: 2em;
    font-size: 0.9em;
    text-align: justify;
}

.card-addit-edu {
    margin: 0.2em 1.5em;
    font-size: 1.3em;
    font-weight: bold;
}

.short-info {
    text-align: justify;
    white-space: pre-wrap;
}